.color-blue {
    color: blue;
}

.margin-top-10px {
    margin-top: 10px;
}

.one {
    composes: color-blue;
    composes: margin-top-10px;
}

.two {
    composes: color-blue;
    composes: margin-top-10px;
    margin: 10px;
}
