.margin-top-10px {margin-top: 10px;
}

.color-red {color: red;
}

.one {
    composes: color-red;
}

.two {
    composes: margin-top-10px;
    composes: color-red;
}

.three {
    composes: margin-top-10px;
    color: blue;
}

.four {
    composes: three;

    composes: margin-top-10px;

    color: white;
}
